*.aliases
*.lvlps
kernel/build/
kernel/pcre/upstream/build/
kernel/pcre/upstream/src/config.h
kernel/pcre/upstream/src/pcre2.h
kernel/pcre/upstream/src/pcre2_chartables.c
lib/ftw32.ilk
build/
lib/ftw32_debug.ilk
