[submodule "jansson/upstream"]
    path = kernel/jansson/upstream
    url=https://github.com/featherweight/ftw-kernel-jansson.git
[submodule "nanomsg/upstream"]
    path = kernel/nanomsg/upstream
    url=https://github.com/featherweight/ftw-kernel-nanomsg.git
