sudo: false
language: c
os:
  - linux
#  - osx
compiler:
  - gcc
  - clang
addons:
  apt:
    packages:
    - rpm
cache:
  directories:
  - download-cache
  - $HOME/.cache/pip
script:
  - set -ve
  - pip install --user autobahntestsuite
  - wstest --autobahnversion
  - ./.travis.install.sh download-cache
  - autoreconf -ifv
  - ./configure --enable-autobahntest=yes LVRTE_DIR=$TRAVIS_BUILD_DIR/download-cache/ LVRTE_LIB=liblvrtdark.so
  - make
  - readelf -Ws .libs/libftw.so | awk '$4 == "FUNC" && $5 == "GLOBAL" && $7 != "UND"'
  - make check
  - ./build-ftw.sh
